.box {
  background-color: #ededed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.item {
  background-color: #ecf4fc;
  width: 80%;
  height: 30rem;
}
