.box {
  background-color: #ededed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 1rem;
}

.item {
  width: 80%;
  height: 30rem;
}
